.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#message_block{
  width:100%;
  position: absolute;
  top:62px;
  bottom:42px;
  margin-bottom:10px;
  border: solid 2px black; 
  overflow:auto;
}

#message-input{ 
  border: 2px solid black; 
  padding: 10px; 
  width: 80%; 
  margin: .5%; 
  position: fixed; 
  bottom: 0;

}
#send{ 
  width: 14%; 
  margin: .5%; 
  background: rgb(121,2,2);
  color:white; 
  
  padding: 10px; 
  position: fixed; 
  bottom: 2px;
  right:5px;
}